.table-responsive {
  overflow-x: scroll;
  width: 100%;
}

.header-row {
  padding-bottom: 10px;
}

.search-form {
  display: inline;
  .dropdown {
    display: inline;
  }
}

.star-icon {
  font-size: 21px;
  color: yellow;
  float: right;
}

a {
	cursor: pointer;
}
