<h1>Bitcoin mining hardware comparison</h1>

<div class='row'>

  <div class='col-md-6'>
    <button class='btn'>Compare selections</button>
  </div>

  <div class='col-md-6'>
    <div class='pull-right'>
      <form class='form-inline'>
        <div class='form-group'>
          <label>Search</label>
          <input class='form-control' type='text' ng-model='searchFilter' />
        </div>
      </form>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <table gdatatable class='table table-striped table-bordered'>
      <thead>
        <tr>
          <th></th>
          <th ng-model=sorter ng-click="changeSortColumn(header)" ng-repeat="header in tableHeaderNames">
            {{header.name}}
            
            <div class='pull-right'>
              <i ng-class="getSortClass(header)" />
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in rows | filter:searchFilter | orderBy:sortColumn:sortDir">
          <td> <input type='checkbox' value="{{row.id}}" ng-click='clickInput()'> </td>
          <td ng-repeat="header in tableHeaderNames"> {{row[header.key]}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
